.container{
    border: 5px green solid ; 
    justify-content: center;
    height: 450px;
    width: 100%;
    background-image: url(./Captura.PNG);
    background-size:cover;
   }
   
   .container2{
    border: 1px black solid ; 
    display: flex;
    justify-content: center;
    height: 45px;
   
   
   }
   #image{
       width: 400px;
       height: 350px;
       border: 1px black solid;
       
   }
   #output{
       padding: inherit;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: xx-large;
       background: fixed aqua;
       width: 250px;
    margin-left: 655px;

}
   .circulo {
       resize: none;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: aquamarine;
    text-align: center;
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;

   }
  .divisor{
      display:flex ;
      justify-items: center;
    }
    .second{
        background: transparent;
        width: min-content;
    }

@media (max-width: 1700px){
    .uno{
        position: absolute;
        margin-left: 30%;
    }
    
    .dos{
        position: absolute;
        margin-left: 14%;
        margin-top: 7.5%;
    }
    
    .tres{
        position: absolute;
        margin-left: 46.5%;
        margin-top: 5.8%;
    }
    
    .cuatro{
        position: absolute;
        margin-left: 0%;
        margin-top: 13.5%;
    }
    
    .cinco{
        position: absolute;
        margin-left: 4%;
        margin-top: 13.5%;
    }
    
    .seis{
        position: absolute;
        margin-left: 12%;
        margin-top: 13%;
    }
    
    .siete{
        position: absolute;
        margin-left: 18%;
        margin-top: 13%;
    }
}

@media (max-width: 1550px) {
    .cuatro{
        position: absolute;
        margin-left: 0%;
        margin-top: 13.5%;
    }
    
    .cinco{
        position: absolute;
        margin-left: 2%;
        margin-top: 13.5%;
    }
    
    .seis{
        position: absolute;
        margin-left: 8%;
        margin-top: 13%;
    }
    
    .siete{
        position: absolute;
        margin-left: 14%;
        margin-top: 13%;
    }
  }